
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #F8F8FF;
}

/*======================= Menu responsivo com Js ===================*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #CFCFCF;
  font-family: 'Exo 2', sans-serif;
  padding: 2% 2%;
}

.fale_cmg {
    position: fixed;
    top: 82%;
    right: 4%;
    padding: 5px;
    z-index: 10000000;
}

.fale_cmg:hover {


}

.logo {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo p {
  font-size: 10px;
}

/*Classe adicionada com jQuery*/
.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 1.5s;
  opacity: 95%;
  background: #CFCFCF;
}

.menu-fixed h4 {
  color: #000000;
}

.menu-fixed p {
  color: #000000;
}

.menu-fixed a {
  color: #000000!important;
}

/*Classe adicionada com jQuery*/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  z-index: 999;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;


}

.nav-links a:hover {
  color: #2E8B57;
  transition: 0.3s;
}

.burger {
  display: none;
  cursor: pointer;

}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease;

}

/*============ Botões estilizados ============*/
.content-header {
  background-image: url(img/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}


.content-header h4 {
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  color: #E8E8E8;
}

button {
  font-family: 'Exo 2', sans-serif;
  height: 40px;
  width: 220px;
  margin: 0 30px;
  font-size: 15px;
  color: #000000;
  background: #E8E8E8;
  outline: none;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-1 {
  box-shadow: 6px 6px 0px #696969,
              6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-1:hover{
  background: #000;
  transition: 0.6s;
  opacity: 70%;
  color: #CFCFCF;

}

.btn-1:focus {
  font-size: 15px;
  transition: 0.3s;
  box-shadow: inset -4px -4px 8px #696969,
              inset 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-2 {
  box-shadow: 6px 6px 0px #696969,
              6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover{
  background: #000;
  transition: 0.6s;
  opacity: 70%;
  color: #CFCFCF;

}

.btn-2:focus {
   font-size: 15px;
   transition: 0.3s;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.8),
              inset 8px 8px 16px rgba(0, 0, 0, 0.2);
} 
/*============ Botões estilizados ============*/

.about-me {
  top: 0;
  background: #000000;
  padding: 6% 6%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #CFCFCF;
  font-family: 'Exo 2', sans-serif;
}

 h2 { 
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;

}

 h5 {
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;

}

.about-me img {
  width: 300px;
  height: 300px;
  box-shadow: 10px 10px 0px #696969;
  
}

.about-me img:hover {
  
}

.services {
  padding: 6% 6%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #696969;
  color: #CFCFCF;
}

.services img {
  border-radius: 50%;
}




