
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #F8F8FF;
}

/*======================= Menu responsivo com Js ===================*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #000000;
  font-family: 'Exo 2', sans-serif;
  padding: 2% 2%;
}

.logo {
  color: #90EE90;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

/*Classe adicionada com jQuery*/
.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 1.9s;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  z-index: 999;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #90EE90;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;


}

.nav-links a:hover {
  color: #E8E8E8;
  transition: 0.3s;
}

.burger {
  display: none;
  cursor: pointer;

}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #90EE90;
  margin: 5px;
  transition: all 0.3s ease;

}

/*============ Botões estilizados ============*/
.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 2% 2%;
}

.content-header h1 {
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
}

button {
  font-family: 'Exo 2', sans-serif;
  height: 50px;
  width: 220px;
  margin: 0 30px;
  font-size: 20px;
  color: #90EE90;
  background: #ebf5fc;
  outline: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-1 {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
              6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-1:hover{
  background: #1C1C1C;
  transition: 0.6s;

}

.btn-1:focus {
  font-size: 15px;
  transition: 0.3s;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.8),
              inset 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-2 {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
              6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover{
  background: #1C1C1C;
  transition: 0.6s;

}

.btn-2:focus {
   font-size: 15px;
   transition: 0.3s;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.8),
              inset 8px 8px 16px rgba(0, 0, 0, 0.2);
} 
/*============ Botões estilizados ============*/


/*===== RESPONSIVO ====*/
/*Responsividade menu*/



/*======================= Menu responsivo com Js ===================*/







